<md-dialog aria-label="Mango (Fruit)" flex="80">
    <md-toolbar>
      <div class="md-toolbar-tools">
         <h2> Mood </h2>
      </div>
    </md-toolbar>
    <md-dialog-content flex="100" layout-align="center center">
      <div id="direct_upload" ngf-drop="uploadFiles($files)" ngf-drag-over-class="dragOverClass($event)" ng-model="files" ng-multiple="true" class="ng-pristine ng-untouched ng-valid ng-scopec image-area" layout="row"  layout-align="center center" ng-class="{'min-height-200': $mdMedia('xs')}" style="background:url({{uploadedImageUrl}}) no-repeat 50% 50%/cover padding-box border-box;">
            <md-button ngf-select="uploadFiles($files)" class="md-raised md-primary">
                <span>Upload Image</span>
            </md-button>  
       </div>         
    </md-dialog-content>
</md-dialog>