<!DOCTYPE html>
<html lang="en" ng-app="InstamoodApp">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Angular Material style sheet -->
  <link rel="stylesheet" href="bower_components/angular-material/angular-material.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="css/custom.css">
</head>
<body ng-controller="MainController" ng-cloak layout="column">
  <md-toolbar layout="row" layout-align="start center">
    <div class= "md-toolbar-tools" flex="grow" layout="row" layout-align="start center">
        <!-- <md-button class="md-icon-button md-primary" aria-label="Settings" flex="5" ng-click="toggleMenu()" hide-xs>
            <span class="btn-text-color">Menu</span>
        </md-button> -->
        <span flex>Instamood</span>
       <md-button class="md-icon-button md-primary" aria-label="Settings" flex="5" ng-click="openUploadModal($event)">
            <span><i class="material-icons">open_in_browser</i></span>
        </md-button>

    </div>
  </md-toolbar>
  <md-content layout="row" layout-xs="column"flex>
    <!-- <md-sidenav flex="20" md-whiteframe="5" md-component-id="left" class="md-sidenav-left">
        <md-toolbar class="md-theme-indigo">
          <h1 class="md-toolbar-tools">Sidenav Left</h1>
        </md-toolbar>
    </md-sidenav> -->
    <div layout-wrap layout="row" >
        <md-card ng-repeat="image in images" flex-xs="100" flex-sm="50"flex="30" flex-xl="20">
            <img src="{{image.url}}" layout-padding="2" class="md-card-image">
						<md-card-title>
							<md-card-title-text>
								<span>{{image.content}}</span>
							</md-card-title-text>
						</md-card-title>
        </md-card>
    </div>
  </md-content>
</body>

  <!-- Angular Material requires Angular.js Libraries -->
  <script src="bower_components/angular/angular.min.js"></script>
  <script type="text/javascript" src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/angular-animate/angular-animate.min.js"></script>
  <script src="bower_components/angular-aria/angular-aria.min.js"></script>
  <script src="bower_components/angular-messages/angular-messages.min.js"></script>
  <script src="bower_components/angular-material/angular-material.min.js"></script>
  <script type="text/javascript" src="bower_components/lodash/lodash.js"></script>
  <script type="text/javascript" src="bower_components/cloudinary-core/cloudinary-core.js"></script>
   <script src="bower_components/cloudinary_ng/js/angular.cloudinary.js"></script>
   <script type="text/javascript" src=" bower_components/ng-file-upload/ng-file-upload-all.js"></script>

  <!-- Angular Material Library -->
  
  <!-- Your application bootstrap  -->
  <script type="text/javascript" src="js/app/app.js"></script>
  <script type="text/javascript" src="js/app/config.js"></script>
  <script src="js/app/controller/main-controller.js"></script>
  <script type="text/javascript" src="js/app/controller/upload-controller.js"></script>
  
</body>
</html>
